@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,100;1,200;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
body {
  background: #e3f2fd;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.wrapper {
  height: 270px;
  width: 420px;
  border-radius: 7px;
  background: #0885ff;
  padding: 30px 30px 35px;
  transition: height 0.2s ease;
}
.wrapper.active {
  height: 525px;
}
.wrapper form {
  height: 210px;
  cursor: pointer;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  text-align: center;
  transition: height 0.2s ease;
}
.wrapper.active form {
  height: 225px;
  pointer-events: none;
}
.wrapper.active form img {
  display: block;
}
form img {
  max-width: 148px;
  display: none;
}
.wrapper.active form .content {
  display: none;
}
form .content p {
  color: #0885ff;
  font-size: 16px;
  margin-top: 15px;
}
form .content i {
  color: #0885ff;
  font-size: 55px;
}
.wrapper .details {
  opacity: 0;
  pointer-events: none;
  margin-top: 25px;
  transition: opacity;
}
.wrapper.active .details {
  opacity: 1;
  pointer-events: auto;
  /* margin-top: 25px; */
  transition: opacity 0.5s 0.05s ease;
}
.details textarea {
  background: none;
  outline: none;
  width: 100%;
  height: 128px;
  padding: 10px 15px;
  border: 1px solid #fff;
  border-radius: 5px;
  font-size: 18px;
  color: #fff;
}
.details .buttons {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}
.buttons button {
  height: 55px;
  outline: none;
  border: none;
  color: #0885ff;
  background: #fff;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  border-radius: 5px;
  width: calc(100% / 2 - 10px);
}
